<!-- Products Page For Health and Gen Store -->

<!-- Including Layout File -->
<%- include('Layouts/layout.ejs') %>

<!-- Home -->
<section class="main">
    <div class="jumbotron mb-3">
        <h1 class="text-center mt-1 mb-3 products"><%= categoryView %> Products </h1>
        <div class="text-center my-2">
            <a href="/products/physio" style="font-size: 18px;" class="btn btn-primary mx-2 px-4">Physio</a>
            <a href="/products/cardio" style="font-size: 18px;" class="btn btn-danger mx-2 px-4">Cardio</a>
            <a href="/products/radio" style="font-size: 18px;" class="btn btn-warning mx-2 px-4">Radio</a>
            <a href="/products/wheelchair" style="font-size: 18px;" class="btn btn-success mx-2 px-4">Wheelchair</a>
            <a href="/products/general" style="font-size: 18px;" class="btn btn-dark mx-2 px-4">General</a>
        </div>
    </div>
    <!-- Products From Database -->
    <div class="row mx-auto justify-content-center">
        <% allProducts.forEach(function(product) { %>
            <div class="col-md-4 my-4 px-5">
                <div class="card p-4 product-card">
                    <img src="/<%= product.image %>" class="img-thumbnail img-fluid product-image" alt="<%= product.alt %>">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a class="text-decoration-none product-link" href="/product-display/<%= product._id %>?product=<%= product.name %>"><%= product.name %></a></h4>
                        <!-- <h5 class="card-text text-center produuct-price">Price : Rs. <%= product.price %></h5> -->
                        <button class="product-category mx-auto d-block p-1 mt-3 btn btn-secondary">CATEGORY - <%= product.category %></button>
                        <div class="d-flex justify-content-evenly mt-4">
                            <a href="/product-display/<%= product._id %>?product=<%= product.name %>" class="btn btn-info d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16"><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                            </svg><i class="bi bi-cart-check-fill"></i><span class="ms-1">Know More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %> 
    </div>
</section>

<!-- Including Footer File -->
<%- include('Layouts/footer.ejs') %>

<!-- JS -->
<script>
    // Active Link
    document.getElementById('products').classList.add('active-link')
    function showAlert() {
        alert('Coming Soon')
    }
</script>